#abilities{
    padding-top: 2rem;

}
#abilities>h2{
    text-align: left;
    margin-left: 8vw ;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
    font-size: 30px;
    text-shadow: 0px 2px 10px rgba(7, 7, 7, 0.877);
    position: relative;
}

.skills-soft{
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    max-width: 90vw;
    margin: 1rem auto;
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    text-shadow: 0px 2px 10px rgba(7, 7, 7, 0.877);
    border-radius: 10px;
}
.skills-soft>h2{
    margin: 0.5rem auto;
    margin-bottom: 1rem;
}

.skills-soft>p{
    text-align: left;
    margin-left: 7vw;
}

.progress-bar{
    background-color: blanchedalmond;
    height: 15px;
    width: 74vw;
    margin: 0.5rem auto;
    margin-bottom: 1rem;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px rgb(128, 128, 128);
}

.progress-bar>.eighty{
    background: linear-gradient(to bottom, #65949c, #165a3eea);
    height: 15px;
    width: 89%;
    border-radius: 20px;
    text-align: right;
}
.eighty-animate{
    background: linear-gradient(to bottom, #8e999b, #197F5B);
    backdrop-filter: blur(10px);
    height: 15px;
    width: 100%;
    border-radius: 20px;
    text-align: right;
    animation: animate-shine 2.5s ease-out  infinite;
}
@keyframes animate-shine { 
    0%{opacity: 1; width: 0; }
    50%{opacity: 0.5;}
    100%{opacity: 0.2;}
}
.progress-bar>.ninety{
    background-color: #197F5B;
    background: linear-gradient(to bottom, #65949c, #165a3eea);

    height: 15px;
    width: 95%;
    border-radius: 20px;
    text-align: right;
}
.progress-bar>.eighty-five{
    background: linear-gradient(to bottom, #65949c, #165a3eea);
    height: 15px;
    width: 92%;
    border-radius: 20px;
    text-align: right;
}

.skills-professional{
    padding: 1rem;
    max-width: 90vw;
    margin: 1rem auto;
    border-radius: 10px;
    text-shadow: 0px 2px 10px rgba(7, 7, 7, 0.877);
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
}

.lenguages1{
    font-size: 16px;
    display: flex;
    justify-content: space-evenly;
    margin-left: 0.5rem;
}
.lenguages1>div{
    margin: 1rem ;
}
.lenguages2{
    font-size: 16px;
    display: flex;
    justify-content: space-evenly;
    margin-left: -0.7rem;
}
.lenguages2>div{
    margin: 1rem ;
}


.html>i{
    color: rgb(231, 101, 25);
    transition: 0.5s;
    font-size: 48px;
}
.css>i{
    color: rgb(21, 144, 226);
    transition: 0.5s;
    font-size: 48px;

}
.js>i{
    color: rgb(239, 243, 0);
    font-size: 48px;
    transition: 0.5s;
}
.react>i{
    color: rgb(101, 204, 252);
    font-size: 48px;
    transition: 0.5s;
}
.node>i{
    color: rgb(101, 173, 67);
    font-size: 48px;
    transition: 0.5s;
}
.git>i{
    color: rgb(218, 65, 5);
    font-size: 48px;
    transition: 0.5s;
}

@media(min-width:800px){
    .skills-responsive{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 85vw;
        margin: auto;
        padding: 0;
    }
    
    .skills-soft{
        padding:0.5rem 0;
        width: 35vw;
        margin: 1rem 0;

        border-radius: 10px;
    }
    .skills-professional{
        padding: 1rem 1rem;
        width: 48vw;
        margin: 1rem 0rem;
        border-radius: 10px;
        height: 330px;
    }

    .progress-bar{
        background-color: blanchedalmond;
        height: 15px;
        width: 30vw;
        margin: 0.5rem auto;
        margin-bottom: 1rem;
    }
    .skills-soft>p{
        text-align: left;
        margin-left: 3vw;
    }
    .lenguages1>div{
        margin-top: 2rem ;
    }
    .lenguages2>div{
        margin-top: 2rem ;
    }
    .lenguages1{
        height: 140px;
        margin: 0 ;
    }
    .lenguages2{
        height: 140px;
    }
    .lenguages1>div>i:hover{
        font-size: 60px ;

    }
    .lenguages2>div>i:hover{
        font-size: 60px ;

    }
    .skills-soft>h2{
        margin-top: 0.5rem;
        margin-bottom: 2rem;
    }
}
