

.responsive-menu{
    display: flex;
    justify-content: space-between ;
    position: fixed;
    top: 0;
    left: 0;
    width:100vw;
    height: 50px;
    z-index: 3;
    background-color: #1a2c4400;
    backdrop-filter: blur(10px);
    transition: 0.3s;
}


.title-responsive>a>img{
    width: 120px;
    margin-left: 0.5rem ;
    transition: 1s;
}


.icon-responsive>button{
    font-size: 20px;
    margin: 0.5rem 1.5rem;
    border: transparent;
    background-color: transparent;
    color: rgb(255, 255, 255);
}

.exit-icon{
    text-align: right;
}

.exit-icon>button{
    font-size: 23px;
    background-color: transparent;
    border: transparent;
    color: white;
}


.menu{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    box-shadow: 2px 2px 8px rgba(5, 5, 5, 0.973);
    padding: 1.5rem;
    width: 100vw;
    text-shadow: 0px 2px 10px rgb(7, 7, 7);
    transition: 1s;
    transform: translateY(-110vh);
    overflow: auto;
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);/*     background: -webkit-linear-gradient(180deg, #f64a5c, #142247);
 */    z-index: 3;
}

.menu.input{
    transform: translateX(0);
    box-shadow: 3px 4px 16px 2px rgb(153, 153, 153);
    color: black;
}

.list-menu{
    color: white;
    list-style: none;
    text-align: center;
    font-size: 33px;
    margin-top: 3rem;
}

.list-menu>li{
    margin: 1.5rem auto;
    font-family: 'Nunito', sans-serif;
}
.list-menu>li>a{
    margin: 1.5rem auto;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    color: white;
}
.responsive-icon{
    margin: 2rem 0;
    display: flex;
    justify-content: space-evenly;
    color: white;
}

.responsive-icon>a{
    color: white;
}
@media (min-width:980px){
    .responsive-menu{ 
        background:rgba(194, 15, 15, 0);
        position:fixed;
        backdrop-filter: blur(10px);
/*         box-shadow: 2px 2px 8px rgba(0, 0, 0, .3);
 */        padding: 0;
    }

    .menu{
        position: fixed;
        padding: 0.6rem;
        width: 80vw;
        height: 3rem;
        transition: 1s;
        transform: translateY(0);
        overflow: auto;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.349);
        background:rgba(150, 14, 14, 0) ;
        z-index: 3;
        margin-left: 18.5vw;

    }
    .list-menu{
        color: white;
        list-style: none;
        text-align: center;
        font-size: 18px;
        margin-top: 0;
        display: flex;
        justify-content: flex-end;

    }
    .title-responsive>img{
        width: 120px;
        position: fixed;
        z-index: 4;
        
    }
    .list-menu>li{
        margin: 0;
    }
    .list-menu>li>a{
        margin: 0 1rem;
        text-decoration: none;
        color: white;
        transition: 0.7s;
        
    }
    .list-menu>li>a:hover{
        color: #999898;
        -webkit-text-stroke: 0.5px black;
        font-size: 20px;
    }
    .title-responsive>a>img:hover{
        width: 130px;
    }

    .responsive-icon{
        display: none;
    }

    .exit-icon{
        display: none;
    }
    .icon-responsive{
        display:none
    }
}